n8n-nodes-reeflex/examples/n8n/demo2-fragmentation-doesnt-work.workflow.json
{
  "name": "Reeflex Demo 2 - Fragmentation Doesn't Work",
  "nodes": [
    {
      "parameters": {},
      "id": "d2000002-0001-4002-8002-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [180, 400],
      "notes": "Stand-in for whatever actually triggers this (a schedule, a webhook, an agent tool call)."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 10 small delete calls that all belong to the SAME session -- the agent\n// 'fragments' one 50-row delete into ten 5-row calls, trying to stay under\n// any single-call threshold. The session id is generated ONCE here (unique\n// per workflow import/execution via $execution.id + a random suffix, so a\n// shared api-dev endpoint used by many people running this demo does not\n// pollute a single global session), then baked identically into all 10\n// items so every /v1/decide call below shares it.\n//\n// Axes are deliberately chosen so R2 (irreversible+broad+production) does\n// NOT fire on any single call -- this demo isolates R5, the session delete\n// budget (reeflex-core/policy/reeflex.rego, delete_session_budget = 20).\nconst sessionId = `frag-demo-${$execution.id}-${Math.floor(Math.random() * 1e9)}`;\nconst items = [];\nfor (let i = 1; i <= 10; i++) {\n  items.push({\n    json: {\n      i,\n      sessionId,\n      table: 'audit_logs',\n      count: 5,\n      reversibility: 'recoverable',\n      blastRadius: 'single',\n      environment: 'production',\n      externality: 'internal'\n    }\n  });\n}\nreturn items;"
      },
      "id": "d2000002-0002-4002-8002-000000000002",
      "name": "10 fragmented delete calls, one session (unique per import)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400],
      "notes": "Generates the session id ONCE (random suffix) so multiple people importing this demo against the shared api-dev endpoint do not collide on the same session_id and see each other's budget."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d2000002-0003-4002-8002-000000000003",
      "name": "Loop Over Items (1 at a time)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [640, 400],
      "notes": "Standard n8n loop pattern: 'done' output (top) fires once at the end; 'loop' output (bottom) fires once per item, feeding Reeflex Gate below. The three Reeflex Gate outputs all loop back into this node's input to continue -- see connections."
    },
    {
      "parameters": {
        "ability": "postgres/delete-rows",
        "verb": "delete",
        "environment": "={{$json.environment}}",
        "reversibility": "={{$json.reversibility}}",
        "blastRadius": "={{$json.blastRadius}}",
        "externality": "={{$json.externality}}",
        "count": "={{$json.count}}",
        "targetSystem": "={{$json.table}}",
        "sessionId": "={{$json.sessionId}}",
        "agentId": "agent:n8n-demo2-fragmentation",
        "additionalFields": {}
      },
      "id": "d2000002-0004-4002-8002-000000000004",
      "name": "Reeflex Gate (delete count=5, same session)",
      "type": "n8n-nodes-reeflex.reeflexGate",
      "typeVersion": 1,
      "position": [900, 400],
      "credentials": {
        "reeflexApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Reeflex Core API account"
        }
      },
      "notes": "Called once per loop iteration (10 total), every call reusing the exact same session id from the Code node above. reeflex-core's per-session ledger accumulates count_by_verb.delete across ALL of these calls (SPEC SS4.1) -- even the ones that end up Held still get appended to the ledger, which is exactly why fragmenting the delete buys nothing. See demo2-README.md."
    },
    {
      "parameters": {},
      "id": "d2000002-0005-4002-8002-000000000005",
      "name": "Executed (ALLOWED - cumulative still under budget)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1160, 240],
      "notes": "PLACEHOLDER - not a real delete. Fires for the early calls, while prior_deletes + this call's count <= 20 (delete_session_budget in reeflex-core/policy/reeflex.rego)."
    },
    {
      "parameters": {},
      "id": "d2000002-0006-4002-8002-000000000006",
      "name": "Held (FLIPPED - session delete budget exceeded)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1160, 400],
      "notes": "PLACEHOLDER - replace with a real Slack/Email/ticketing node. Fires once cumulative deletes in this session pass 20 -- rule reeflex.policy/session_delete_budget (R5). With 5 per call, this flips on the 5th call (0,5,10,15,20 all allowed; 25 exceeds the budget) and stays Held for the rest of the loop, because every call -- allowed or held -- keeps adding to the same session's ledger."
    },
    {
      "parameters": {},
      "id": "d2000002-0007-4002-8002-000000000007",
      "name": "Unexpected deny",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1160, 560],
      "notes": "PLACEHOLDER - wired for completeness/robustness. R3 (systemic) should never fire for these single-blast-radius calls -- see demo4-nothing-gets-through for that case."
    },
    {
      "parameters": {},
      "id": "d2000002-0008-4002-8002-000000000008",
      "name": "Loop finished - compare Allowed vs Held item counts above",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 200],
      "notes": "All 10 calls done. Expected split with delete_session_budget=20 and count=5/call: calls 1-4 Allowed (cumulative 5,10,15,20), calls 5-10 Held (cumulative 25,30,...,50). The flip happens mid-loop, on the exact same session -- fragmenting the original 50-row delete into ten 5-row calls did not avoid the approval gate, it just delayed it by four calls."
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "10 fragmented delete calls, one session (unique per import)", "type": "main", "index": 0 }]]
    },
    "10 fragmented delete calls, one session (unique per import)": {
      "main": [[{ "node": "Loop Over Items (1 at a time)", "type": "main", "index": 0 }]]
    },
    "Loop Over Items (1 at a time)": {
      "main": [
        [{ "node": "Loop finished - compare Allowed vs Held item counts above", "type": "main", "index": 0 }],
        [{ "node": "Reeflex Gate (delete count=5, same session)", "type": "main", "index": 0 }]
      ]
    },
    "Reeflex Gate (delete count=5, same session)": {
      "main": [
        [{ "node": "Executed (ALLOWED - cumulative still under budget)", "type": "main", "index": 0 }],
        [{ "node": "Held (FLIPPED - session delete budget exceeded)", "type": "main", "index": 0 }],
        [{ "node": "Unexpected deny", "type": "main", "index": 0 }]
      ]
    },
    "Executed (ALLOWED - cumulative still under budget)": {
      "main": [[{ "node": "Loop Over Items (1 at a time)", "type": "main", "index": 0 }]]
    },
    "Held (FLIPPED - session delete budget exceeded)": {
      "main": [[{ "node": "Loop Over Items (1 at a time)", "type": "main", "index": 0 }]]
    },
    "Unexpected deny": {
      "main": [[{ "node": "Loop Over Items (1 at a time)", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Reeflex n8n demo 2/5 (examples/n8n/, see top-level README.md for the index + credential setup). Teaches: fragmenting a bulk action into many small calls under the SAME session_id does not evade governance -- reeflex-core's per-session ledger accumulates across all calls, allowed or held (SPEC SS4.1, R5 in reeflex-core/policy/reeflex.rego). Loops 10x delete count=5 on one randomly-generated session id (unique per import, so the shared api-dev endpoint is not polluted); starts ALLOWED, flips to HELD around call 5 and stays flipped. Fully works against the live api-dev eval endpoint -- see demo2-README.md."
  }
}
