n8n-nodes-reeflex/examples/n8n/demo3-the-approval-loop.workflow.json
{
  "name": "Reeflex Demo 3 - The Approval Loop (decide -> hold -> resolve -> resubmit -> allow)",
  "nodes": [
    {
      "parameters": {},
      "id": "d3000003-0001-4003-8003-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400],
      "notes": "Stand-in for whatever actually triggers this (a schedule, a webhook, an agent tool call)."
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "table", "value": "posts", "type": "string" },
            { "id": "a2", "name": "count", "value": 25, "type": "number" },
            { "id": "a3", "name": "environment", "value": "production", "type": "string" },
            { "id": "a4", "name": "reversibility", "value": "irreversible", "type": "string" },
            { "id": "a5", "name": "blastRadius", "value": "broad", "type": "string" },
            { "id": "a6", "name": "externality", "value": "internal", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "d3000003-0002-4003-8003-000000000002",
      "name": "Sample bulk action (forces a HOLD)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 400],
      "notes": "Stand-in for your real upstream data. Deliberately irreversible+broad+production so R2 (reeflex.policy/irreversible_broad_prod) fires every time -- this demo is entirely about what happens AFTER a hold is created, not about whether one is created (see demo1 for the branching)."
    },
    {
      "parameters": {
        "ability": "wordpress/bulk-delete-posts",
        "verb": "delete",
        "environment": "={{$json.environment}}",
        "reversibility": "={{$json.reversibility}}",
        "blastRadius": "={{$json.blastRadius}}",
        "externality": "={{$json.externality}}",
        "count": "={{$json.count}}",
        "targetSystem": "={{$json.table}}",
        "sessionId": "={{$execution.id}}",
        "agentId": "agent:n8n-demo3-approval-loop",
        "additionalFields": {}
      },
      "id": "d3000003-0003-4003-8003-000000000003",
      "name": "Reeflex Gate",
      "type": "n8n-nodes-reeflex.reeflexGate",
      "typeVersion": 1,
      "position": [660, 400],
      "credentials": {
        "reeflexApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Reeflex Core API account"
        }
      },
      "notes": "Requires reeflex-core v0.1.5+ (HIL Phase 1, the Holds API) -- api-dev is on a later build, see demo3-README.md. Held output carries reeflex.hold_id, reeflex.expires_ts, and reeflex.envelope (the exact envelope this node sent) for the resolve/resubmit steps below."
    },
    {
      "parameters": {},
      "id": "d3000003-0004-4003-8003-000000000004",
      "name": "Unexpected direct allow",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 220],
      "notes": "PLACEHOLDER - wired for completeness/robustness. This sample is built to trip R2 every time, so this output should not fire."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$credentials.coreUrl}}/v1/holds/{{$json.reeflex.hold_id}}/resolve",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "reeflexApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { decision: \"approve\", principal: { type: \"human\", id: \"demo3-approver\" }, reason: \"approved via n8n demo3 - the approval loop\" } }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "d3000003-0005-4003-8003-000000000005",
      "name": "Resolve hold (human principal)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "credentials": {
        "reeflexApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Reeflex Core API account"
        }
      },
      "notes": "Records the approval on reeflex-core (POST /v1/holds/{id}/resolve) using the SAME 'Reeflex Core API' credential as the Reeflex Gate node above (Authentication: Predefined Credential Type -> Reeflex API), so {{$credentials.coreUrl}} resolves here too and no secret is duplicated in this node's parameters. 'allowUnauthorizedCerts' is hardcoded true because this demo is preconfigured against api-dev's staging cert -- SHORTCUT: if you point this at your own core with a valid certificate, uncheck this option (upgrade path: read it from a credential field instead, once n8n exposes a typed way to do that from a generic-auth credential -- see the same known limitation noted in credentials/ReeflexApi.credentials.ts). This step alone does NOT re-run the guarded action -- see the next node. The principal type is 'human' because that is the only type api-dev's default resolution policy accepts out of the box; the id ('demo3-approver') MUST differ from the acting agent (agent:n8n-demo3-approval-loop) or core returns 403 actor_is_approver (the approver can never be the actor). 'human' is one of three principal types (human/agent/automation, see reeflex-core README 'Approval principals'); to resolve with 'agent' or 'automation' the operator must first allow that type for this rule via REEFLEX_RESOLUTION_POLICY, otherwise core returns 403 principal_type_not_allowed."
    },
    {
      "parameters": {},
      "id": "d3000003-0006-4003-8003-000000000006",
      "name": "Unexpected deny (direct)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 560],
      "notes": "PLACEHOLDER - wired for completeness/robustness. Reached only if the sample action somehow trips R3 (systemic) instead of R2 -- should not fire with the axes above."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$credentials.coreUrl}}/v1/decide",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "reeflexApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {...$('Reeflex Gate').item.json.reeflex.envelope, approval: { present: true, hold_id: $('Reeflex Gate').item.json.reeflex.hold_id } } }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "d3000003-0007-4003-8003-000000000007",
      "name": "Resubmit to /v1/decide (same envelope + approval)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 400],
      "credentials": {
        "reeflexApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Reeflex Core API account"
        }
      },
      "notes": "Reuses reeflex.envelope from the Reeflex Gate node verbatim (action/axes/magnitude/target byte-identical, per SPEC's hash-binding projection), just flips approval.present/hold_id. Returns allow if the hold is now approved and hasn't expired/been consumed; deny with a machine-readable reason otherwise (reeflex_hold_not_approved / reeflex_hold_expired / reeflex_hold_consumed / reeflex_hold_envelope_mismatch -- see reeflex-core README, 'Approval-validation deny reason codes')."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{$json.decision}}",
              "rightValue": "allow",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3000003-0008-4003-8003-000000000008",
      "name": "Resubmission approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1380, 400],
      "notes": "Never assume the resubmission succeeded -- always check the response, exactly like the first /v1/decide call."
    },
    {
      "parameters": {},
      "id": "d3000003-0009-4003-8003-000000000009",
      "name": "Execute the delete now (ALLOWED after approval)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1620, 300],
      "notes": "PLACEHOLDER - not a real delete. Replace with your real WordPress/Postgres/S3/etc. delete node. Reached only after reeflex-core validated the resolved hold and returned allow."
    },
    {
      "parameters": {},
      "id": "d3000003-0010-4003-8003-000000000010",
      "name": "Denied / rejected / expired / consumed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1620, 500],
      "notes": "PLACEHOLDER - replace with a real alert node. Reached on a rejected, expired, or already-consumed resubmission -- check reeflex.reason on the item for the exact reeflex_hold_* code."
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Sample bulk action (forces a HOLD)", "type": "main", "index": 0 }]]
    },
    "Sample bulk action (forces a HOLD)": {
      "main": [[{ "node": "Reeflex Gate", "type": "main", "index": 0 }]]
    },
    "Reeflex Gate": {
      "main": [
        [{ "node": "Unexpected direct allow", "type": "main", "index": 0 }],
        [{ "node": "Resolve hold (human principal)", "type": "main", "index": 0 }],
        [{ "node": "Unexpected deny (direct)", "type": "main", "index": 0 }]
      ]
    },
    "Resolve hold (human principal)": {
      "main": [[{ "node": "Resubmit to /v1/decide (same envelope + approval)", "type": "main", "index": 0 }]]
    },
    "Resubmit to /v1/decide (same envelope + approval)": {
      "main": [[{ "node": "Resubmission approved?", "type": "main", "index": 0 }]]
    },
    "Resubmission approved?": {
      "main": [
        [{ "node": "Execute the delete now (ALLOWED after approval)", "type": "main", "index": 0 }],
        [{ "node": "Denied / rejected / expired / consumed", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Reeflex n8n demo 3/5 (examples/n8n/, see top-level README.md for the index + credential setup). Teaches: the full human-in-the-loop cycle -- decide (HELD, hold_id returned) -> resolve the hold with a 'human' principal (POST /v1/holds/{id}/resolve) -> resubmit the SAME envelope with approval.present=true -> allow. Every HTTP Request node reuses the ONE 'Reeflex Core API' credential (Predefined Credential Type) instead of environment variables, so importing this demo needs only the one credential from the top README. Fully works against the live api-dev eval endpoint -- see demo3-README.md, which also documents (doc-only, not in this JSON) the webhook-trigger variant (REEFLEX_WEBHOOK_URL) for operators running their own core."
  }
}
